In [107]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark Dataframes").getOrCreate()

In [108]:
df = spark.read.options(
    inferSchema=True,
    header=True
).csv("../data/StudentData.csv")
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

## Schema

In [194]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
schema = StructType(
    [
        StructField("age", IntegerType(),  True),
        StructField("gender", StringType(),  True),
        StructField("name", StringType(),  True),
        StructField("course", StringType(),  True),
        StructField("roll", StringType(),  True),
        StructField("marks", IntegerType(),  True),
        StructField("email", StringType(),  True),
    ]
)

df = spark.read.options(header=True).schema(schema).csv("../data/StudentData.csv")
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

DD from RDD

In [110]:
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import col, lit
conf = SparkConf().setAppName("Read file")

sc = SparkContext.getOrCreate(conf=conf)

text = sc.textFile("../data/StudentData.csv")

headers = text.first()

text = text.filter(lambda x: x != headers).map(lambda x: x.split(',')).map(
    lambda x: [int(x[0]), x[1], x[2], x[3], x[4], int(x[5]), x[6]]
)

columns = headers.split(',')

# text_df = text.toDF(schema=schema) #Â specify schema
text_df = spark.createDataFrame(text, schema=schema)

text_df.printSchema()
text_df.show()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

## Select cols

In [111]:
df = spark.read.options(
    inferSchema=True,
    header=True
).csv("../data/StudentData.csv")

df.select(df.gender, df.name).show()

+------+----------------+
|gender|            name|
+------+----------------+
|Female| Hubert Oliveras|
|Female|Toshiko Hillyard|
|  Male|  Celeste Lollis|
|Female|    Elenore Choy|
|  Male|  Sheryll Towler|
|  Male|  Margene Moores|
|  Male|     Neda Briski|
|Female|    Claude Panos|
|  Male|  Celeste Lollis|
|  Male|  Cordie Harnois|
|Female|       Kena Wild|
|  Male| Ernest Rossbach|
|Female|  Latia Vanhoose|
|Female|  Latia Vanhoose|
|  Male|     Neda Briski|
|Female|  Latia Vanhoose|
|  Male|  Loris Crossett|
|  Male|  Annika Hoffman|
|  Male|   Santa Kerfien|
|Female|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [112]:

df.select(col("roll"), col("name")).show()

+------+----------------+
|  roll|            name|
+------+----------------+
|  2984| Hubert Oliveras|
| 12899|Toshiko Hillyard|
| 21267|  Celeste Lollis|
| 32877|    Elenore Choy|
| 41487|  Sheryll Towler|
| 52771|  Margene Moores|
| 61973|     Neda Briski|
| 72409|    Claude Panos|
| 81492|  Celeste Lollis|
| 92882|  Cordie Harnois|
|102285|       Kena Wild|
|111449| Ernest Rossbach|
|122502|  Latia Vanhoose|
|132110|  Latia Vanhoose|
|141770|     Neda Briski|
|152159|  Latia Vanhoose|
|161771|  Loris Crossett|
|171660|  Annika Hoffman|
|182129|   Santa Kerfien|
|192537|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [185]:
df.select("*").show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [114]:
df.select(df.columns[:4]).show()

+---+------+----------------+------+
|age|gender|            name|course|
+---+------+----------------+------+
| 28|Female| Hubert Oliveras|    DB|
| 29|Female|Toshiko Hillyard| Cloud|
| 28|  Male|  Celeste Lollis|    PF|
| 29|Female|    Elenore Choy|    DB|
| 28|  Male|  Sheryll Towler|   DSA|
| 28|  Male|  Margene Moores|   MVC|
| 28|  Male|     Neda Briski|   OOP|
| 28|Female|    Claude Panos| Cloud|
| 28|  Male|  Celeste Lollis|   MVC|
| 29|  Male|  Cordie Harnois|   OOP|
| 29|Female|       Kena Wild|   DSA|
| 29|  Male| Ernest Rossbach|    DB|
| 28|Female|  Latia Vanhoose|    DB|
| 29|Female|  Latia Vanhoose|   MVC|
| 29|  Male|     Neda Briski|    PF|
| 29|Female|  Latia Vanhoose|    DB|
| 29|  Male|  Loris Crossett|   MVC|
| 29|  Male|  Annika Hoffman|   OOP|
| 29|  Male|   Santa Kerfien|    PF|
| 28|Female|Mickey Cortright|    DB|
+---+------+----------------+------+
only showing top 20 rows

In [115]:
df.select(*df.columns[:4], "marks").show()

+---+------+----------------+------+-----+
|age|gender|            name|course|marks|
+---+------+----------------+------+-----+
| 28|Female| Hubert Oliveras|    DB|   59|
| 29|Female|Toshiko Hillyard| Cloud|   62|
| 28|  Male|  Celeste Lollis|    PF|   45|
| 29|Female|    Elenore Choy|    DB|   29|
| 28|  Male|  Sheryll Towler|   DSA|   41|
| 28|  Male|  Margene Moores|   MVC|   32|
| 28|  Male|     Neda Briski|   OOP|   69|
| 28|Female|    Claude Panos| Cloud|   85|
| 28|  Male|  Celeste Lollis|   MVC|   64|
| 29|  Male|  Cordie Harnois|   OOP|   51|
| 29|Female|       Kena Wild|   DSA|   35|
| 29|  Male| Ernest Rossbach|    DB|   53|
| 28|Female|  Latia Vanhoose|    DB|   27|
| 29|Female|  Latia Vanhoose|   MVC|   55|
| 29|  Male|     Neda Briski|    PF|   42|
| 29|Female|  Latia Vanhoose|    DB|   27|
| 29|  Male|  Loris Crossett|   MVC|   36|
| 29|  Male|  Annika Hoffman|   OOP|   22|
| 29|  Male|   Santa Kerfien|    PF|   56|
| 28|Female|Mickey Cortright|    DB|   62|
+---+------+----------------+------+-----+
only showing top 20 rows

### withColumn

In [116]:
df2 = df.withColumn("roll", col("roll").cast("String"))

In [117]:
df.withColumn("marks", col("marks") + 10).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [118]:
df.withColumn("new_col", col("marks") + 10).show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|new_col|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|     69|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|     72|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|     55|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|     39|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|     51|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|     42|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|     79|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|     95|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|     74|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|     61|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|     45|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|     63|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|     37|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|     65|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|     52|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|     37|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|     46|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|     32|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|     66|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|     72|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

In [119]:
df.withColumn("Country", lit("USA")).show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|Country|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    USA|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

## Column renamed and alias

In [120]:
df.withColumnRenamed("gender", "sex").show()

+---+------+----------------+------+------+-----+--------------------+
|age|   sex|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [121]:
df.select(col("name").alias("full name")).show()

+----------------+
|       full name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

### filter rows

In [122]:
df.filter(df.course == "DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [123]:
df[(df.course == "DB") & (df.marks > 50)].show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|Female|   Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|  Male|   Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|       Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 29|  Male|      Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female|   Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|      Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male|  Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|   Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|      Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 29|Female|      Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
| 29|Female| Leontine Phillips|    DB|1432252|   67|Billi Clore_Shery...|
| 28|Female|   Gonzalo Ferebee|    DB|1451513|   69|Claude Panos_Tame...|
| 28|  Male|   Marylee Capasso|    DB|1611411|   96|Annika Hoffman_Lo...|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
| 28|Female|Priscila Tavernier|    DB|1722388|   86|Lawanda Wohlwend_...|
| 29|  Male|    Dustin Feagins|    DB|1782045|   81|Cordie Harnois_To...|
| 29|  Male|     Tijuana Kropf|    DB|1882795|   92|Hubert Oliveras_E...|
| 28|  Male|   Ernest Rossbach|    DB|1901492|   54|Latia Vanhoose_Jc...|
| 29|Female| Leontine Phillips|    DB|1972893|   64|Marylee Capasso_E...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [124]:

courses = ["DB", "Cloud", "OOP", "DSA"]
df[df["course"].isin(courses)].show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 28|Female|  Maybell Duguay| Cloud|261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 29|Female|    Cheri Kenney| Cloud|281408|   43|Annika Hoffman_Me...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [125]:
df[df["course"].startswith("D")].show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|Mickey Cortright|   DSA|342003|   44|Mitzi Seldon_Jean...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 29|Female|     Anna Santos|   DSA|411479|   42|Kena Wild_Mitzi S...|
| 28|Female|  Maybell Duguay|   DSA|452141|   29|Leontine Phillips...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
| 29|Female|    Paris Hutton|   DSA|492159|   60|Nicole Harwood_Ma...|
| 28|Female|Mickey Cortright|    DB|551389|   43|Tijuana Kropf_Jen...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [126]:
df[df["name"].contains("oo")].show()

+---+------+--------------+------+-------+-----+--------------------+
|age|gender|          name|course|   roll|marks|               email|
+---+------+--------------+------+-------+-----+--------------------+
| 28|  Male|Margene Moores|   MVC|  52771|   32|Toshiko Hillyard_...|
| 28|Female|Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|Latia Vanhoose|   MVC| 132110|   55|Eda Neathery_Nico...|
| 29|Female|Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|  Male|Margene Moores|    PF| 531530|   53|Cheri Kenney_Mela...|
| 29|Female|Margene Moores|   MVC| 761843|   48|Ernest Rossbach_M...|
| 28|  Male|Margene Moores|   DSA| 892010|   93|Anna Santos_Naoma...|
| 28|Female|Nicole Harwood|   MVC|1061068|   82|Santa Kerfien_Hub...|
| 29|  Male|Nicole Harwood| Cloud|1152571|   62|Latia Vanhoose_Ma...|
| 28|  Male|Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 28|  Male|Nicole Harwood|   OOP|1242426|   71|Billi Clore_Loris...|
| 28|Female|Nicole Harwood|    PF|1441367|   95|Jc Andrepont_Anna...|
| 28|Female|Margene Moores|   DSA|1712967|   41|Tijuana Kropf_She...|
| 29|  Male|Nicole Harwood|   MVC|1761454|   34|Taryn Brownlee_Bi...|
| 29|  Male|Latia Vanhoose| Cloud|1832268|   60|Marylee Capasso_S...|
| 29|  Male|Margene Moores| Cloud|2241434|   71|Mitzi Seldon_Mich...|
| 29|  Male|Latia Vanhoose|   OOP|2372748|   94|Latia Vanhoose_La...|
| 29|Female|Nicole Harwood|   MVC|2481418|   91|Kizzy Brenner_Pri...|
| 29|  Male|Nicole Harwood| Cloud|2581369|   26|Paris Hutton_Albe...|
| 29|Female|Nicole Harwood|   DSA|2751838|   47|Donna Yerby_Lawan...|
+---+------+--------------+------+-------+-----+--------------------+
only showing top 20 rows

In [127]:
df[df["name"].like("%o%o%")].show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|
| 28|Female|  Loris Crossett|    PF|332739|   62|Michelle Ruggiero...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 28|  Male|    Elenore Choy|    PF|422704|   66|Marylee Capasso_N...|
| 29|Female|  Somer Stoecker| Cloud|442028|   34|Taryn Brownlee_Ta...|
| 29|  Male|Toshiko Hillyard|   OOP|521221|   77|Hubert Oliveras_L...|
| 28|  Male|  Margene Moores|    PF|531530|   53|Cheri Kenney_Mela...|
| 28|Female|  Somer Stoecker| Cloud|612490|   82|Sebrina Maresca_G...|
| 29|Female|  Margene Moores|   MVC|761843|   48|Ernest Rossbach_M...|
| 29|Female|    Elenore Choy|    DB|811824|   55|Maybell Duguay_Me...|
| 28|  Male|  Margene Moores|   DSA|892010|   93|Anna Santos_Naoma...|
| 28|Female|  Somer Stoecker|   DSA|901958|   64|Kizzy Brenner_Jc ...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [128]:
over_80 = (
    df
    .withColumn("Total marks", lit(120))
    .withColumn("Avg marks", col("marks") / col("Total marks") * 100)
    .filter((col("Avg marks") > 80) & (col("course") == "OOP"))
    .select("name", "marks")
).show()

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Jenna Montague|   98|
|Priscila Tavernier|   99|
|      Judie Chipps|   99|
|    Margene Moores|   97|
|      Jc Andrepont|   97|
|    Loris Crossett|   98|
|    Loris Crossett|   99|
+------------------+-----+

In [129]:
over_60 = (
    df
    .withColumn("Total marks", lit(120))
    .withColumn("Avg marks", col("marks") / col("Total marks") * 100)
    .filter((col("Avg marks") > 60) & (col("course") == "Cloud"))
    .select("name", "marks")
).show()

+-----------------+-----+
|             name|marks|
+-----------------+-----+
|     Claude Panos|   85|
|      Billi Clore|   76|
|   Somer Stoecker|   82|
|     Judie Chipps|   75|
|     Eda Neathery|   91|
|   Bonita Higuera|   94|
|  Hubert Oliveras|   94|
|      Neda Briski|   74|
|   Melani Engberg|   99|
|     Paris Hutton|   79|
|     Eda Neathery|   95|
|      Neda Briski|   81|
|    Tijuana Kropf|   78|
|   Jenna Montague|   96|
|   Dustin Feagins|   89|
|  Ernest Rossbach|   83|
|Leontine Phillips|   76|
|  Sebrina Maresca|   97|
| Clementina Menke|   95|
|    Kizzy Brenner|   80|
+-----------------+-----+
only showing top 20 rows

## Count, distinct, drop dupes

In [130]:
df.select("gender", "age").distinct().show()

+------+---+
|gender|age|
+------+---+
|Female| 29|
|Female| 28|
|  Male| 28|
|  Male| 29|
+------+---+

In [131]:
df.dropDuplicates(["gender", "course"]).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 29|Female|  Loris Crossett|    PF|201487|   96|Elenore Choy_Lati...|
| 29|  Male|     Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+------+-----+--------------------+

In [132]:
df.dropDuplicates(["age", "gender", "course"]).count()

24

## sort Orderby

In [133]:
df.sort(df.marks.asc(), df.age.desc()).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|   Maybell Duguay|   MVC|1102536|   22|Somer Stoecker_Ma...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [136]:
office_df = spark.read.options(
    inferSchema=True,
    header=True
).csv("../data/OfficeData.csv")
office_df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [140]:
office_df.sort(office_df.bonus.asc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

In [139]:
office_df.sort(office_df.age.asc(), office_df.salary.desc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

In [142]:
office_df.sort(office_df.age.desc(), office_df.bonus.desc(), office_df.salary.asc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|      Michael|     Sales|   NY| 86000| 56|20000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        James|     Sales|   NY| 90000| 34|10000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

## Groupby

In [143]:
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

In [144]:
df.groupBy("gender").count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

In [148]:
df.groupBy("gender").avg("marks").show()

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

In [147]:
df.groupBy("gender").mean("marks").show()

+------+------------------+
|gender|        avg(marks)|
+------+------------------+
|Female|59.153692614770456|
|  Male| 61.04408817635271|
+------+------------------+

In [150]:
df.groupBy("age", "gender").mean("marks").show()

+---+------+------------------+
|age|gender|        avg(marks)|
+---+------+------------------+
| 28|Female|       59.44140625|
| 29|  Male|60.524904214559385|
| 29|Female| 58.85306122448979|
| 28|  Male| 61.61344537815126|
+---+------+------------------+

In [186]:
from pyspark.sql.functions import sum, avg, max, min, mean, count, udf

In [159]:
df.groupBy("course", "gender").agg(
    count("*").alias("num_rows"), 
    mean("marks").alias("avg_marks"),
    max("marks").alias("max_marks")
).show()

+------+------+--------+------------------+---------+
|course|gender|num_rows|         avg_marks|max_marks|
+------+------+--------+------------------+---------+
|   OOP|  Male|      70| 60.48571428571429|       99|
|    DB|  Male|      82| 61.86585365853659|       98|
| Cloud|Female|     106| 59.58490566037736|       99|
|   MVC|  Male|      86| 60.94186046511628|       99|
|   DSA|Female|      98| 62.48979591836735|       99|
|    PF|  Male|      97| 61.44329896907217|       99|
|   MVC|Female|      71|61.183098591549296|       99|
| Cloud|  Male|      86|59.616279069767444|       97|
|    PF|Female|      69| 57.57971014492754|       99|
|   DSA|  Male|      78| 61.87179487179487|       99|
|    DB|Female|      75|             55.96|       96|
|   OOP|Female|      82| 57.09756097560975|       99|
+------+------+--------+------------------+---------+

In [161]:
office_df.groupBy("department").sum().show()

+----------+-----------+--------+----------+
|department|sum(salary)|sum(age)|sum(bonus)|
+----------+-----------+--------+----------+
|     Sales|     257000|     120|     53000|
|   Finance|     351000|     153|     81000|
| Marketing|     171000|      75|     39000|
+----------+-----------+--------+----------+

In [167]:
df.groupBy("course", "gender").agg(
    count("*").alias("num_rows"), 
    mean("marks").alias("avg_marks"),
    max("marks").alias("max_marks")
).filter(col("avg_marks") < 60).show()

+------+------+--------+------------------+---------+
|course|gender|num_rows|         avg_marks|max_marks|
+------+------+--------+------------------+---------+
| Cloud|Female|     106| 59.58490566037736|       99|
| Cloud|  Male|      86|59.616279069767444|       97|
|    PF|Female|      69| 57.57971014492754|       99|
|    DB|Female|      75|             55.96|       96|
|   OOP|Female|      82| 57.09756097560975|       99|
+------+------+--------+------------------+---------+

In [168]:
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [172]:
df.groupBy("course", "gender").count().sort("course").show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
| Cloud|Female|  106|
| Cloud|  Male|   86|
|    DB|  Male|   82|
|    DB|Female|   75|
|   DSA|Female|   98|
|   DSA|  Male|   78|
|   MVC|  Male|   86|
|   MVC|Female|   71|
|   OOP|  Male|   70|
|   OOP|Female|   82|
|    PF|  Male|   97|
|    PF|Female|   69|
+------+------+-----+

In [173]:
df.groupBy("course", "gender").agg(
    sum("marks").alias("total_marks")
).sort("course").show()

+------+------+-----------+
|course|gender|total_marks|
+------+------+-----------+
| Cloud|Female|       6316|
| Cloud|  Male|       5127|
|    DB|  Male|       5073|
|    DB|Female|       4197|
|   DSA|Female|       6124|
|   DSA|  Male|       4826|
|   MVC|  Male|       5241|
|   MVC|Female|       4344|
|   OOP|  Male|       4234|
|   OOP|Female|       4682|
|    PF|  Male|       5960|
|    PF|Female|       3973|
+------+------+-----------+

In [175]:
df.groupBy("course", "age").agg(
    sum("marks").alias("total_marks"),
    max("marks").alias("max_marks"),
    min("marks").alias("min_marks")
).sort("course").show()

+------+---+-----------+---------+---------+
|course|age|total_marks|max_marks|min_marks|
+------+---+-----------+---------+---------+
| Cloud| 28|       5808|       99|       20|
| Cloud| 29|       5635|       98|       21|
|    DB| 28|       4819|       98|       21|
|    DB| 29|       4451|       98|       20|
|   DSA| 28|       5369|       99|       20|
|   DSA| 29|       5581|       99|       20|
|   MVC| 28|       4352|       99|       23|
|   MVC| 29|       5233|       99|       22|
|   OOP| 29|       4420|       99|       20|
|   OOP| 28|       4496|       99|       23|
|    PF| 29|       4896|       99|       20|
|    PF| 28|       5037|       98|       20|
+------+---+-----------+---------+---------+

In [184]:
words = spark.read.options(
    inferSchema=False,
    header=False,
).text("../data/WordData.txt")
words.groupBy("value").count().show()

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+

## UDF

In [190]:
def get_total_salary(salary, bonus):
    return salary + bonus

totalSalary = udf(lambda x, y: get_total_salary(x, y), IntegerType())

office_df.withColumn("total_salary", totalSalary(office_df.salary, office_df.bonus)).show()

+-------------+----------+-----+------+---+-----+------------+
|employee_name|department|state|salary|age|bonus|total_salary|
+-------------+----------+-----+------+---+-----+------------+
|        James|     Sales|   NY| 90000| 34|10000|      100000|
|      Michael|     Sales|   NY| 86000| 56|20000|      106000|
|       Robert|     Sales|   CA| 81000| 30|23000|      104000|
|        Maria|   Finance|   CA| 90000| 24|23000|      113000|
|        Raman|   Finance|   CA| 99000| 40|24000|      123000|
|        Scott|   Finance|   NY| 83000| 36|19000|      102000|
|          Jen|   Finance|   NY| 79000| 53|15000|       94000|
|         Jeff| Marketing|   CA| 80000| 25|18000|       98000|
|        Kumar| Marketing|   NY| 91000| 50|21000|      112000|
+-------------+----------+-----+------+---+-----+------------+

In [195]:
def get_increment(state, sal, bon):
    if state == "NY":
        return 0.1*sal + 0.05*bon
    elif state == "CA":
        return 0.12*sal + 0.03*bon

getIncrement = udf(lambda sta, sal, bon: get_increment(sta, sal, bon), FloatType())

office_df.withColumn("increment", getIncrement(office_df.state, office_df.salary, office_df.bonus)).show()

+-------------+----------+-----+------+---+-----+---------+
|employee_name|department|state|salary|age|bonus|increment|
+-------------+----------+-----+------+---+-----+---------+
|        James|     Sales|   NY| 90000| 34|10000|   9500.0|
|      Michael|     Sales|   NY| 86000| 56|20000|   9600.0|
|       Robert|     Sales|   CA| 81000| 30|23000|  10410.0|
|        Maria|   Finance|   CA| 90000| 24|23000|  11490.0|
|        Raman|   Finance|   CA| 99000| 40|24000|  12600.0|
|        Scott|   Finance|   NY| 83000| 36|19000|   9250.0|
|          Jen|   Finance|   NY| 79000| 53|15000|   8650.0|
|         Jeff| Marketing|   CA| 80000| 25|18000|  10140.0|
|        Kumar| Marketing|   NY| 91000| 50|21000|  10150.0|
+-------------+----------+-----+------+---+-----+---------+

## Cache

In [198]:
res = df.groupBy("course", "gender", "age").count().withColumn("dummy", col("age") * 100)

In [199]:
res.show()

+------+------+---+-----+-----+
|course|gender|age|count|dummy|
+------+------+---+-----+-----+
| Cloud|Female| 29|   49| 2900|
|   DSA|Female| 28|   47| 2800|
|    PF|Female| 29|   34| 2900|
|   OOP|Female| 29|   39| 2900|
|   DSA|Female| 29|   51| 2900|
|    PF|Female| 28|   35| 2800|
|   MVC|Female| 28|   34| 2800|
|    DB|  Male| 28|   42| 2800|
|   OOP|  Male| 29|   35| 2900|
|   MVC|  Male| 29|   48| 2900|
|   MVC|Female| 29|   37| 2900|
|    DB|Female| 29|   35| 2900|
|   OOP|Female| 28|   43| 2800|
| Cloud|Female| 28|   57| 2800|
| Cloud|  Male| 29|   43| 2900|
|    PF|  Male| 28|   44| 2800|
|   DSA|  Male| 28|   36| 2800|
|    DB|Female| 28|   40| 2800|
|    DB|  Male| 29|   40| 2900|
|    PF|  Male| 29|   53| 2900|
+------+------+---+-----+-----+
only showing top 20 rows

In [200]:
res.cache()

DataFrame[course: string, gender: string, age: int, count: bigint, dummy: int]

In [201]:
res.show()

+------+------+---+-----+-----+
|course|gender|age|count|dummy|
+------+------+---+-----+-----+
| Cloud|Female| 29|   49| 2900|
|   DSA|Female| 28|   47| 2800|
|    PF|Female| 29|   34| 2900|
|   OOP|Female| 29|   39| 2900|
|   DSA|Female| 29|   51| 2900|
|    PF|Female| 28|   35| 2800|
|   MVC|Female| 28|   34| 2800|
|    DB|  Male| 28|   42| 2800|
|   OOP|  Male| 29|   35| 2900|
|   MVC|  Male| 29|   48| 2900|
|   MVC|Female| 29|   37| 2900|
|    DB|Female| 29|   35| 2900|
|   OOP|Female| 28|   43| 2800|
| Cloud|Female| 28|   57| 2800|
| Cloud|  Male| 29|   43| 2900|
|    PF|  Male| 28|   44| 2800|
|   DSA|  Male| 28|   36| 2800|
|    DB|Female| 28|   40| 2800|
|    DB|  Male| 29|   40| 2900|
|    PF|  Male| 29|   53| 2900|
+------+------+---+-----+-----+
only showing top 20 rows

### DF to RDD

In [205]:
rdd = df.rdd

rdd.collect()

[Row(age=28, gender='Female', name='Hubert Oliveras', course='DB', roll='02984', marks=59, email='Annika Hoffman_Naoma Fritts@OOP.com'),
 Row(age=29, gender='Female', name='Toshiko Hillyard', course='Cloud', roll='12899', marks=62, email='Margene Moores_Marylee Capasso@DB.com'),
 Row(age=28, gender='Male', name='Celeste Lollis', course='PF', roll='21267', marks=45, email='Jeannetta Golden_Jenna Montague@DSA.com'),
 Row(age=29, gender='Female', name='Elenore Choy', course='DB', roll='32877', marks=29, email='Billi Clore_Mitzi Seldon@DB.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='DSA', roll='41487', marks=41, email='Claude Panos_Judie Chipps@OOP.com'),
 Row(age=28, gender='Male', name='Margene Moores', course='MVC', roll='52771', marks=32, email='Toshiko Hillyard_Clementina Menke@MVC.com'),
 Row(age=28, gender='Male', name='Neda Briski', course='OOP', roll='61973', marks=69, email='Alberta Freund_Elenore Choy@DB.com'),
 Row(age=28, gender='Female', name='Claude Panos', course='Cloud', roll='72409', marks=85, email='Sheryll Towler_Alberta Freund@Cloud.com'),
 Row(age=28, gender='Male', name='Celeste Lollis', course='MVC', roll='81492', marks=64, email='Nicole Harwood_Claude Panos@MVC.com'),
 Row(age=29, gender='Male', name='Cordie Harnois', course='OOP', roll='92882', marks=51, email='Judie Chipps_Clementina Menke@MVC.com'),
 Row(age=29, gender='Female', name='Kena Wild', course='DSA', roll='102285', marks=35, email='Dustin Feagins_Margene Moores@OOP.com'),
 Row(age=29, gender='Male', name='Ernest Rossbach', course='DB', roll='111449', marks=53, email='Maybell Duguay_Abram Nagao@OOP.com'),
 Row(age=28, gender='Female', name='Latia Vanhoose', course='DB', roll='122502', marks=27, email='Latia Vanhoose_Mitzi Seldon@OOP.com'),
 Row(age=29, gender='Female', name='Latia Vanhoose', course='MVC', roll='132110', marks=55, email='Eda Neathery_Nicole Harwood@Cloud.com'),
 Row(age=29, gender='Male', name='Neda Briski', course='PF', roll='141770', marks=42, email='Margene Moores_Michelle Ruggiero@MVC.com'),
 Row(age=29, gender='Female', name='Latia Vanhoose', course='DB', roll='152159', marks=27, email='Claude Panos_Santa Kerfien@DB.com'),
 Row(age=29, gender='Male', name='Loris Crossett', course='MVC', roll='161771', marks=36, email='Mitzi Seldon_Jenna Montague@MVC.com'),
 Row(age=29, gender='Male', name='Annika Hoffman', course='OOP', roll='171660', marks=22, email='Taryn Brownlee_Mitzi Seldon@MVC.com'),
 Row(age=29, gender='Male', name='Santa Kerfien', course='PF', roll='182129', marks=56, email='Judie Chipps_Taryn Brownlee@Cloud.com'),
 Row(age=28, gender='Female', name='Mickey Cortright', course='DB', roll='192537', marks=62, email='Ernest Rossbach_Marylee Capasso@Cloud.com'),
 Row(age=29, gender='Female', name='Loris Crossett', course='PF', roll='201487', marks=96, email='Elenore Choy_Latia Vanhoose@Cloud.com'),
 Row(age=29, gender='Female', name='Niki Klimek', course='PF', roll='211508', marks=23, email='Cordie Harnois_Judie Chipps@PF.com'),
 Row(age=28, gender='Female', name='Kena Wild', course='Cloud', roll='221750', marks=60, email='Mitzi Seldon_Jenna Montague@DSA.com'),
 Row(age=28, gender='Female', name='Jc Andrepont', course='DSA', roll='232060', marks=58, email='Billi Clore_Abram Nagao@MVC.com'),
 Row(age=29, gender='Female', name='Anna Santos', course='Cloud', roll='242254', marks=68, email='Jc Andrepont_Hubert Oliveras@Cloud.com'),
 Row(age=28, gender='Female', name='Alberta Freund', course='OOP', roll='251805', marks=83, email='Annika Hoffman_Sheryll Towler@MVC.com'),
 Row(age=28, gender='Female', name='Maybell Duguay', course='Cloud', roll='261439', marks=20, email='Nicole Harwood_Judie Chipps@DB.com'),
 Row(age=29, gender='Female', name='Paris Hutton', course='DSA', roll='271472', marks=99, email='Sheryll Towler_Alberta Freund@DSA.com'),
 Row(age=29, gender='Female', name='Cheri Kenney', course='Cloud', roll='281408', marks=43, email='Annika Hoffman_Melani Engberg@Cloud.com'),
 Row(age=28, gender='Female', name='Dustin Feagins', course='DSA', roll='291984', marks=82, email='Abram Nagao_Kena Wild@Cloud.com'),
 Row(age=29, gender='Female', name='Claude Panos', course='Cloud', roll='302130', marks=59, email='Sheryll Towler_Leontine Phillips@PF.com'),
 Row(age=28, gender='Female', name='Anna Santos', course='DB', roll='311589', marks=79, email='Celeste Lollis_Mickey Cortright@DSA.com'),
 Row(age=28, gender='Female', name='Cheri Kenney', course='MVC', roll='321816', marks=24, email='Kena Wild_Michelle Ruggiero@DB.com'),
 Row(age=28, gender='Female', name='Loris Crossett', course='PF', roll='332739', marks=62, email='Michelle Ruggiero_Clementina Menke@DB.com'),
 Row(age=28, gender='Female', name='Mickey Cortright', course='DSA', roll='342003', marks=44, email='Mitzi Seldon_Jeannetta Golden@PF.com'),
 Row(age=28, gender='Male', name='Hubert Oliveras', course='OOP', roll='351719', marks=63, email='Lawanda Wohlwend_Abram Nagao@MVC.com'),
 Row(age=28, gender='Male', name='Sebrina Maresca', course='PF', roll='361316', marks=62, email='Nicole Harwood_Latia Vanhoose@DB.com'),
 Row(age=29, gender='Male', name='Jalisa Swenson', course='PF', roll='372873', marks=45, email='Ernest Rossbach_Toshiko Hillyard@DB.com'),
 Row(age=28, gender='Male', name='Kizzy Brenner', course='DB', roll='381712', marks=36, email='Paris Hutton_Kena Wild@MVC.com'),
 Row(age=28, gender='Male', name='Toshiko Hillyard', course='DB', roll='392218', marks=47, email='Leontine Phillips_Billi Clore@MVC.com'),
 Row(age=28, gender='Female', name='Kizzy Brenner', course='Cloud', roll='402409', marks=27, email='Ernest Rossbach_Gonzalo Ferebee@OOP.com'),
 Row(age=29, gender='Female', name='Anna Santos', course='DSA', roll='411479', marks=42, email='Kena Wild_Mitzi Seldon@DB.com'),
 Row(age=28, gender='Male', name='Elenore Choy', course='PF', roll='422704', marks=66, email='Marylee Capasso_Nicole Harwood@MVC.com'),
 Row(age=28, gender='Female', name='Jalisa Swenson', course='OOP', roll='431352', marks=25, email='Gonzalo Ferebee_Judie Chipps@DB.com'),
 Row(age=29, gender='Female', name='Somer Stoecker', course='Cloud', roll='442028', marks=34, email='Taryn Brownlee_Taryn Brownlee@MVC.com'),
 Row(age=28, gender='Female', name='Maybell Duguay', course='DSA', roll='452141', marks=29, email='Leontine Phillips_Elenore Choy@Cloud.com'),
 Row(age=28, gender='Male', name='Dustin Feagins', course='PF', roll='461839', marks=51, email='Neda Briski_Elenore Choy@Cloud.com'),
 Row(age=29, gender='Male', name='Annika Hoffman', course='OOP', roll='472550', marks=35, email='Mitzi Seldon_Abram Nagao@DSA.com'),
 Row(age=29, gender='Male', name='Paris Hutton', course='DB', roll='481229', marks=57, email='Clementina Menke_Paris Hutton@MVC.com'),
 Row(age=29, gender='Female', name='Paris Hutton', course='DSA', roll='492159', marks=60, email='Nicole Harwood_Marylee Capasso@OOP.com'),
 Row(age=29, gender='Female', name='Jenna Montague', course='MVC', roll='502585', marks=43, email='Hubert Oliveras_Jc Andrepont@DSA.com'),
 Row(age=29, gender='Male', name='Billi Clore', course='Cloud', roll='512047', marks=76, email='Taryn Brownlee_Judie Chipps@DSA.com'),
 Row(age=29, gender='Male', name='Toshiko Hillyard', course='OOP', roll='521221', marks=77, email='Hubert Oliveras_Latia Vanhoose@MVC.com'),
 Row(age=28, gender='Male', name='Margene Moores', course='PF', roll='531530', marks=53, email='Cheri Kenney_Melani Engberg@OOP.com'),
 Row(age=29, gender='Female', name='Claude Panos', course='OOP', roll='542821', marks=28, email='Hubert Oliveras_Priscila Tavernier@PF.com'),
 Row(age=28, gender='Female', name='Mickey Cortright', course='DB', roll='551389', marks=43, email='Tijuana Kropf_Jenna Montague@DB.com'),
 Row(age=29, gender='Male', name='Celeste Lollis', course='DSA', roll='562065', marks=85, email='Jc Andrepont_Melani Engberg@OOP.com'),
 Row(age=28, gender='Female', name='Tijuana Kropf', course='PF', roll='571047', marks=41, email='Loris Crossett_Sebrina Maresca@PF.com'),
 Row(age=28, gender='Male', name='Marylee Capasso', course='OOP', roll='581756', marks=52, email='Jeannetta Golden_Loris Crossett@MVC.com'),
 Row(age=29, gender='Male', name='Maybell Duguay', course='DSA', roll='592061', marks=83, email='Eda Neathery_Jenna Montague@Cloud.com'),
 Row(age=28, gender='Female', name='Leontine Phillips', course='DB', roll='602404', marks=48, email='Neda Briski_Cheri Kenney@PF.com'),
 Row(age=28, gender='Female', name='Somer Stoecker', course='Cloud', roll='612490', marks=82, email='Sebrina Maresca_Gonzalo Ferebee@DSA.com'),
 Row(age=28, gender='Male', name='Mitzi Seldon', course='DSA', roll='622981', marks=45, email='Lawanda Wohlwend_Loris Crossett@DSA.com'),
 Row(age=29, gender='Female', name='Judie Chipps', course='Cloud', roll='632793', marks=75, email='Tijuana Kropf_Elenore Choy@PF.com'),
 Row(age=28, gender='Male', name='Priscila Tavernier', course='PF', roll='642594', marks=27, email='Marylee Capasso_Claude Panos@DSA.com'),
 Row(age=29, gender='Male', name='Tamera Blakley', course='MVC', roll='651649', marks=92, email='Latia Vanhoose_Toshiko Hillyard@MVC.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='MVC', roll='661079', marks=89, email='Tijuana Kropf_Mickey Cortright@DB.com'),
 Row(age=29, gender='Male', name='Hubert Oliveras', course='MVC', roll='672451', marks=28, email='Annika Hoffman_Mickey Cortright@DSA.com'),
 Row(age=29, gender='Male', name='Sheryll Towler', course='PF', roll='682533', marks=42, email='Billi Clore_Anna Santos@PF.com'),
 Row(age=28, gender='Female', name='Jenna Montague', course='DSA', roll='691564', marks=26, email='Mitzi Seldon_Sebrina Maresca@Cloud.com'),
 Row(age=29, gender='Male', name='Maybell Duguay', course='PF', roll='701486', marks=99, email='Clementina Menke_Latia Vanhoose@Cloud.com'),
 Row(age=29, gender='Male', name='Jenna Montague', course='MVC', roll='711153', marks=45, email='Marylee Capasso_Hubert Oliveras@DB.com'),
 Row(age=28, gender='Male', name='Annika Hoffman', course='Cloud', roll='722193', marks=55, email='Taryn Brownlee_Elenore Choy@DB.com'),
 Row(age=28, gender='Female', name='Celeste Lollis', course='DSA', roll='731879', marks=76, email='Hubert Oliveras_Gonzalo Ferebee@DSA.com'),
 Row(age=29, gender='Male', name='Jeannetta Golden', course='MVC', roll='741875', marks=57, email='Sheryll Towler_Cheri Kenney@DSA.com'),
 Row(age=29, gender='Male', name='Paris Hutton', course='MVC', roll='752504', marks=22, email='Elenore Choy_Elenore Choy@DB.com'),
 Row(age=29, gender='Female', name='Margene Moores', course='MVC', roll='761843', marks=48, email='Ernest Rossbach_Mickey Cortright@DSA.com'),
 Row(age=28, gender='Female', name='Hubert Oliveras', course='DB', roll='771081', marks=79, email='Kizzy Brenner_Dustin Feagins@MVC.com'),
 Row(age=28, gender='Male', name='Alberta Freund', course='PF', roll='781061', marks=75, email='Leontine Phillips_Bonita Higuera@PF.com'),
 Row(age=29, gender='Female', name='Billi Clore', course='OOP', roll='791519', marks=93, email='Elenore Choy_Jalisa Swenson@MVC.com'),
 Row(age=28, gender='Female', name='Billi Clore', course='Cloud', roll='801693', marks=38, email='Niki Klimek_Kizzy Brenner@DB.com'),
 Row(age=29, gender='Female', name='Elenore Choy', course='DB', roll='811824', marks=55, email='Maybell Duguay_Melani Engberg@DB.com'),
 Row(age=28, gender='Male', name='Anna Santos', course='OOP', roll='822396', marks=47, email='Leontine Phillips_Gonzalo Ferebee@Cloud.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='DSA', roll='831562', marks=59, email='Kena Wild_Gonzalo Ferebee@Cloud.com'),
 Row(age=29, gender='Male', name='Neda Briski', course='PF', roll='842515', marks=68, email='Neda Briski_Hubert Oliveras@OOP.com'),
 Row(age=28, gender='Female', name='Santa Kerfien', course='Cloud', roll='851620', marks=34, email='Melani Engberg_Sheryll Towler@PF.com'),
 Row(age=29, gender='Female', name='Taryn Brownlee', course='MVC', roll='861849', marks=39, email='Billi Clore_Toshiko Hillyard@MVC.com'),
 Row(age=28, gender='Female', name='Sheryll Towler', course='DSA', roll='871967', marks=64, email='Michelle Ruggiero_Billi Clore@Cloud.com'),
 Row(age=29, gender='Male', name='Clementina Menke', course='DB', roll='882200', marks=76, email='Michelle Ruggiero_Jenna Montague@MVC.com'),
 Row(age=28, gender='Male', name='Margene Moores', course='DSA', roll='892010', marks=93, email='Anna Santos_Naoma Fritts@DSA.com'),
 Row(age=28, gender='Female', name='Somer Stoecker', course='DSA', roll='901958', marks=64, email='Kizzy Brenner_Jc Andrepont@DB.com'),
 Row(age=29, gender='Male', name='Loris Crossett', course='PF', roll='911593', marks=46, email='Gonzalo Ferebee_Mitzi Seldon@PF.com'),
 Row(age=29, gender='Female', name='Sebrina Maresca', course='DB', roll='922210', marks=54, email='Toshiko Hillyard_Santa Kerfien@MVC.com'),
 Row(age=29, gender='Male', name='Naoma Fritts', course='DB', roll='931295', marks=79, email='Hubert Oliveras_Sheryll Towler@DSA.com'),
 Row(age=28, gender='Female', name='Santa Kerfien', course='MVC', roll='941783', marks=94, email='Paris Hutton_Naoma Fritts@DB.com'),
 Row(age=28, gender='Female', name='Lawanda Wohlwend', course='DSA', roll='951686', marks=60, email='Loris Crossett_Nicole Harwood@DSA.com'),
 Row(age=29, gender='Male', name='Abram Nagao', course='MVC', roll='962235', marks=32, email='Jenna Montague_Gonzalo Ferebee@DSA.com'),
 Row(age=28, gender='Female', name='Jc Andrepont', course='PF', roll='972733', marks=20, email='Eda Neathery_Eda Neathery@MVC.com'),
 Row(age=29, gender='Male', name='Niki Klimek', course='PF', roll='982443', marks=94, email='Santa Kerfien_Kizzy Brenner@DB.com'),
 Row(age=28, gender='Female', name='Marylee Capasso', course='OOP', roll='991770', marks=86, email='Margene Moores_Clementina Menke@DB.com'),
 Row(age=28, gender='Male', name='Jenna Montague', course='DSA', roll='1002103', marks=36, email='Melani Engberg_Hubert Oliveras@PF.com'),
 Row(age=29, gender='Female', name='Eda Neathery', course='Cloud', roll='1011971', marks=91, email='Margene Moores_Elenore Choy@MVC.com'),
 Row(age=29, gender='Male', name='Michelle Ruggiero', course='DSA', roll='1022971', marks=99, email='Cordie Harnois_Clementina Menke@OOP.com'),
 Row(age=28, gender='Male', name='Annika Hoffman', course='DB', roll='1031544', marks=44, email='Dustin Feagins_Somer Stoecker@DB.com'),
 Row(age=29, gender='Female', name='Hubert Oliveras', course='DSA', roll='1041483', marks=28, email='Billi Clore_Santa Kerfien@DSA.com'),
 Row(age=28, gender='Male', name='Billi Clore', course='MVC', roll='1052566', marks=78, email='Naoma Fritts_Margene Moores@DSA.com'),
 Row(age=28, gender='Female', name='Nicole Harwood', course='MVC', roll='1061068', marks=82, email='Santa Kerfien_Hubert Oliveras@MVC.com'),
 Row(age=29, gender='Male', name='Clementina Menke', course='PF', roll='1071717', marks=54, email='Celeste Lollis_Leontine Phillips@OOP.com'),
 Row(age=28, gender='Female', name='Claude Panos', course='OOP', roll='1081294', marks=94, email='Kizzy Brenner_Anna Santos@OOP.com'),
 Row(age=29, gender='Male', name='Donna Yerby', course='DSA', roll='1092702', marks=79, email='Marylee Capasso_Alberta Freund@OOP.com'),
 Row(age=29, gender='Female', name='Maybell Duguay', course='MVC', roll='1102536', marks=22, email='Somer Stoecker_Marylee Capasso@OOP.com'),
 Row(age=29, gender='Male', name='Abram Nagao', course='PF', roll='1112161', marks=42, email='Nicole Harwood_Niki Klimek@DB.com'),
 Row(age=28, gender='Female', name='Bonita Higuera', course='DSA', roll='1122348', marks=51, email='Somer Stoecker_Jenna Montague@DB.com'),
 Row(age=29, gender='Female', name='Melani Engberg', course='OOP', roll='1132093', marks=76, email='Kena Wild_Neda Briski@Cloud.com'),
 Row(age=29, gender='Female', name='Marylee Capasso', course='OOP', roll='1142653', marks=61, email='Cordie Harnois_Alberta Freund@DSA.com'),
 Row(age=29, gender='Male', name='Nicole Harwood', course='Cloud', roll='1152571', marks=62, email='Latia Vanhoose_Maybell Duguay@PF.com'),
 Row(age=29, gender='Female', name='Dustin Feagins', course='OOP', roll='1161607', marks=37, email='Eda Neathery_Marylee Capasso@MVC.com'),
 Row(age=28, gender='Female', name='Niki Klimek', course='PF', roll='1172784', marks=24, email='Jeannetta Golden_Abram Nagao@MVC.com'),
 Row(age=29, gender='Female', name='Abram Nagao', course='DSA', roll='1181007', marks=57, email='Anna Santos_Anna Santos@DSA.com'),
 Row(age=28, gender='Male', name='Jalisa Swenson', course='PF', roll='1192555', marks=77, email='Marylee Capasso_Celeste Lollis@Cloud.com'),
 Row(age=29, gender='Female', name='Ernest Rossbach', course='MVC', roll='1201427', marks=80, email='Elenore Choy_Jenna Montague@OOP.com'),
 Row(age=28, gender='Male', name='Nicole Harwood', course='DB', roll='1211495', marks=28, email='Melani Engberg_Jc Andrepont@Cloud.com'),
 Row(age=29, gender='Female', name='Claude Panos', course='DB', roll='1222887', marks=75, email='Hubert Oliveras_Somer Stoecker@Cloud.com'),
 Row(age=28, gender='Female', name='Cordie Harnois', course='OOP', roll='1231943', marks=68, email='Mickey Cortright_Kizzy Brenner@OOP.com'),
 Row(age=28, gender='Male', name='Nicole Harwood', course='OOP', roll='1242426', marks=71, email='Billi Clore_Loris Crossett@Cloud.com'),
 Row(age=28, gender='Male', name='Gonzalo Ferebee', course='Cloud', roll='1251176', marks=60, email='Santa Kerfien_Tamera Blakley@PF.com'),
 Row(age=29, gender='Male', name='Jalisa Swenson', course='Cloud', roll='1261533', marks=70, email='Dustin Feagins_Nicole Harwood@PF.com'),
 Row(age=28, gender='Female', name='Eda Neathery', course='Cloud', roll='1272870', marks=69, email='Somer Stoecker_Dustin Feagins@DB.com'),
 Row(age=28, gender='Female', name='Toshiko Hillyard', course='DSA', roll='1282835', marks=79, email='Somer Stoecker_Toshiko Hillyard@OOP.com'),
 Row(age=28, gender='Male', name='Paris Hutton', course='MVC', roll='1292279', marks=26, email='Paris Hutton_Eda Neathery@DSA.com'),
 Row(age=29, gender='Female', name='Niki Klimek', course='DB', roll='1301784', marks=24, email='Celeste Lollis_Tamera Blakley@DB.com'),
 Row(age=28, gender='Male', name='Bonita Higuera', course='Cloud', roll='1312294', marks=94, email='Eda Neathery_Priscila Tavernier@PF.com'),
 Row(age=28, gender='Female', name='Leontine Phillips', course='MVC', roll='1322629', marks=87, email='Judie Chipps_Michelle Ruggiero@Cloud.com'),
 Row(age=29, gender='Male', name='Jalisa Swenson', course='PF', roll='1332072', marks=88, email='Billi Clore_Kizzy Brenner@Cloud.com'),
 Row(age=28, gender='Male', name='Clementina Menke', course='OOP', roll='1341574', marks=46, email='Elenore Choy_Mickey Cortright@DB.com'),
 Row(age=28, gender='Male', name='Gonzalo Ferebee', course='PF', roll='1352348', marks=95, email='Neda Briski_Somer Stoecker@DB.com'),
 Row(age=29, gender='Female', name='Jalisa Swenson', course='DSA', roll='1362151', marks=51, email='Lawanda Wohlwend_Jenna Montague@PF.com'),
 Row(age=28, gender='Male', name='Lawanda Wohlwend', course='PF', roll='1372552', marks=88, email='Hubert Oliveras_Tijuana Kropf@DSA.com'),
 Row(age=28, gender='Male', name='Abram Nagao', course='DSA', roll='1382959', marks=66, email='Michelle Ruggiero_Kena Wild@OOP.com'),
 Row(age=29, gender='Female', name='Hubert Oliveras', course='Cloud', roll='1392791', marks=94, email='Anna Santos_Alberta Freund@Cloud.com'),
 Row(age=28, gender='Male', name='Bonita Higuera', course='Cloud', roll='1401526', marks=24, email='Jc Andrepont_Cheri Kenney@Cloud.com'),
 Row(age=29, gender='Female', name='Clementina Menke', course='OOP', roll='1412376', marks=65, email='Elenore Choy_Latia Vanhoose@DSA.com'),
 Row(age=29, gender='Female', name='Mickey Cortright', course='Cloud', roll='1421542', marks=71, email='Latia Vanhoose_Kena Wild@OOP.com'),
 Row(age=29, gender='Female', name='Leontine Phillips', course='DB', roll='1432252', marks=67, email='Billi Clore_Sheryll Towler@DB.com'),

In [207]:
rdd.filter(lambda x: x["gender"] == "Male").collect()

[Row(age=28, gender='Male', name='Celeste Lollis', course='PF', roll='21267', marks=45, email='Jeannetta Golden_Jenna Montague@DSA.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='DSA', roll='41487', marks=41, email='Claude Panos_Judie Chipps@OOP.com'),
 Row(age=28, gender='Male', name='Margene Moores', course='MVC', roll='52771', marks=32, email='Toshiko Hillyard_Clementina Menke@MVC.com'),
 Row(age=28, gender='Male', name='Neda Briski', course='OOP', roll='61973', marks=69, email='Alberta Freund_Elenore Choy@DB.com'),
 Row(age=28, gender='Male', name='Celeste Lollis', course='MVC', roll='81492', marks=64, email='Nicole Harwood_Claude Panos@MVC.com'),
 Row(age=29, gender='Male', name='Cordie Harnois', course='OOP', roll='92882', marks=51, email='Judie Chipps_Clementina Menke@MVC.com'),
 Row(age=29, gender='Male', name='Ernest Rossbach', course='DB', roll='111449', marks=53, email='Maybell Duguay_Abram Nagao@OOP.com'),
 Row(age=29, gender='Male', name='Neda Briski', course='PF', roll='141770', marks=42, email='Margene Moores_Michelle Ruggiero@MVC.com'),
 Row(age=29, gender='Male', name='Loris Crossett', course='MVC', roll='161771', marks=36, email='Mitzi Seldon_Jenna Montague@MVC.com'),
 Row(age=29, gender='Male', name='Annika Hoffman', course='OOP', roll='171660', marks=22, email='Taryn Brownlee_Mitzi Seldon@MVC.com'),
 Row(age=29, gender='Male', name='Santa Kerfien', course='PF', roll='182129', marks=56, email='Judie Chipps_Taryn Brownlee@Cloud.com'),
 Row(age=28, gender='Male', name='Hubert Oliveras', course='OOP', roll='351719', marks=63, email='Lawanda Wohlwend_Abram Nagao@MVC.com'),
 Row(age=28, gender='Male', name='Sebrina Maresca', course='PF', roll='361316', marks=62, email='Nicole Harwood_Latia Vanhoose@DB.com'),
 Row(age=29, gender='Male', name='Jalisa Swenson', course='PF', roll='372873', marks=45, email='Ernest Rossbach_Toshiko Hillyard@DB.com'),
 Row(age=28, gender='Male', name='Kizzy Brenner', course='DB', roll='381712', marks=36, email='Paris Hutton_Kena Wild@MVC.com'),
 Row(age=28, gender='Male', name='Toshiko Hillyard', course='DB', roll='392218', marks=47, email='Leontine Phillips_Billi Clore@MVC.com'),
 Row(age=28, gender='Male', name='Elenore Choy', course='PF', roll='422704', marks=66, email='Marylee Capasso_Nicole Harwood@MVC.com'),
 Row(age=28, gender='Male', name='Dustin Feagins', course='PF', roll='461839', marks=51, email='Neda Briski_Elenore Choy@Cloud.com'),
 Row(age=29, gender='Male', name='Annika Hoffman', course='OOP', roll='472550', marks=35, email='Mitzi Seldon_Abram Nagao@DSA.com'),
 Row(age=29, gender='Male', name='Paris Hutton', course='DB', roll='481229', marks=57, email='Clementina Menke_Paris Hutton@MVC.com'),
 Row(age=29, gender='Male', name='Billi Clore', course='Cloud', roll='512047', marks=76, email='Taryn Brownlee_Judie Chipps@DSA.com'),
 Row(age=29, gender='Male', name='Toshiko Hillyard', course='OOP', roll='521221', marks=77, email='Hubert Oliveras_Latia Vanhoose@MVC.com'),
 Row(age=28, gender='Male', name='Margene Moores', course='PF', roll='531530', marks=53, email='Cheri Kenney_Melani Engberg@OOP.com'),
 Row(age=29, gender='Male', name='Celeste Lollis', course='DSA', roll='562065', marks=85, email='Jc Andrepont_Melani Engberg@OOP.com'),
 Row(age=28, gender='Male', name='Marylee Capasso', course='OOP', roll='581756', marks=52, email='Jeannetta Golden_Loris Crossett@MVC.com'),
 Row(age=29, gender='Male', name='Maybell Duguay', course='DSA', roll='592061', marks=83, email='Eda Neathery_Jenna Montague@Cloud.com'),
 Row(age=28, gender='Male', name='Mitzi Seldon', course='DSA', roll='622981', marks=45, email='Lawanda Wohlwend_Loris Crossett@DSA.com'),
 Row(age=28, gender='Male', name='Priscila Tavernier', course='PF', roll='642594', marks=27, email='Marylee Capasso_Claude Panos@DSA.com'),
 Row(age=29, gender='Male', name='Tamera Blakley', course='MVC', roll='651649', marks=92, email='Latia Vanhoose_Toshiko Hillyard@MVC.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='MVC', roll='661079', marks=89, email='Tijuana Kropf_Mickey Cortright@DB.com'),
 Row(age=29, gender='Male', name='Hubert Oliveras', course='MVC', roll='672451', marks=28, email='Annika Hoffman_Mickey Cortright@DSA.com'),
 Row(age=29, gender='Male', name='Sheryll Towler', course='PF', roll='682533', marks=42, email='Billi Clore_Anna Santos@PF.com'),
 Row(age=29, gender='Male', name='Maybell Duguay', course='PF', roll='701486', marks=99, email='Clementina Menke_Latia Vanhoose@Cloud.com'),
 Row(age=29, gender='Male', name='Jenna Montague', course='MVC', roll='711153', marks=45, email='Marylee Capasso_Hubert Oliveras@DB.com'),
 Row(age=28, gender='Male', name='Annika Hoffman', course='Cloud', roll='722193', marks=55, email='Taryn Brownlee_Elenore Choy@DB.com'),
 Row(age=29, gender='Male', name='Jeannetta Golden', course='MVC', roll='741875', marks=57, email='Sheryll Towler_Cheri Kenney@DSA.com'),
 Row(age=29, gender='Male', name='Paris Hutton', course='MVC', roll='752504', marks=22, email='Elenore Choy_Elenore Choy@DB.com'),
 Row(age=28, gender='Male', name='Alberta Freund', course='PF', roll='781061', marks=75, email='Leontine Phillips_Bonita Higuera@PF.com'),
 Row(age=28, gender='Male', name='Anna Santos', course='OOP', roll='822396', marks=47, email='Leontine Phillips_Gonzalo Ferebee@Cloud.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='DSA', roll='831562', marks=59, email='Kena Wild_Gonzalo Ferebee@Cloud.com'),
 Row(age=29, gender='Male', name='Neda Briski', course='PF', roll='842515', marks=68, email='Neda Briski_Hubert Oliveras@OOP.com'),
 Row(age=29, gender='Male', name='Clementina Menke', course='DB', roll='882200', marks=76, email='Michelle Ruggiero_Jenna Montague@MVC.com'),
 Row(age=28, gender='Male', name='Margene Moores', course='DSA', roll='892010', marks=93, email='Anna Santos_Naoma Fritts@DSA.com'),
 Row(age=29, gender='Male', name='Loris Crossett', course='PF', roll='911593', marks=46, email='Gonzalo Ferebee_Mitzi Seldon@PF.com'),
 Row(age=29, gender='Male', name='Naoma Fritts', course='DB', roll='931295', marks=79, email='Hubert Oliveras_Sheryll Towler@DSA.com'),
 Row(age=29, gender='Male', name='Abram Nagao', course='MVC', roll='962235', marks=32, email='Jenna Montague_Gonzalo Ferebee@DSA.com'),
 Row(age=29, gender='Male', name='Niki Klimek', course='PF', roll='982443', marks=94, email='Santa Kerfien_Kizzy Brenner@DB.com'),
 Row(age=28, gender='Male', name='Jenna Montague', course='DSA', roll='1002103', marks=36, email='Melani Engberg_Hubert Oliveras@PF.com'),
 Row(age=29, gender='Male', name='Michelle Ruggiero', course='DSA', roll='1022971', marks=99, email='Cordie Harnois_Clementina Menke@OOP.com'),
 Row(age=28, gender='Male', name='Annika Hoffman', course='DB', roll='1031544', marks=44, email='Dustin Feagins_Somer Stoecker@DB.com'),
 Row(age=28, gender='Male', name='Billi Clore', course='MVC', roll='1052566', marks=78, email='Naoma Fritts_Margene Moores@DSA.com'),
 Row(age=29, gender='Male', name='Clementina Menke', course='PF', roll='1071717', marks=54, email='Celeste Lollis_Leontine Phillips@OOP.com'),
 Row(age=29, gender='Male', name='Donna Yerby', course='DSA', roll='1092702', marks=79, email='Marylee Capasso_Alberta Freund@OOP.com'),
 Row(age=29, gender='Male', name='Abram Nagao', course='PF', roll='1112161', marks=42, email='Nicole Harwood_Niki Klimek@DB.com'),
 Row(age=29, gender='Male', name='Nicole Harwood', course='Cloud', roll='1152571', marks=62, email='Latia Vanhoose_Maybell Duguay@PF.com'),
 Row(age=28, gender='Male', name='Jalisa Swenson', course='PF', roll='1192555', marks=77, email='Marylee Capasso_Celeste Lollis@Cloud.com'),
 Row(age=28, gender='Male', name='Nicole Harwood', course='DB', roll='1211495', marks=28, email='Melani Engberg_Jc Andrepont@Cloud.com'),
 Row(age=28, gender='Male', name='Nicole Harwood', course='OOP', roll='1242426', marks=71, email='Billi Clore_Loris Crossett@Cloud.com'),
 Row(age=28, gender='Male', name='Gonzalo Ferebee', course='Cloud', roll='1251176', marks=60, email='Santa Kerfien_Tamera Blakley@PF.com'),
 Row(age=29, gender='Male', name='Jalisa Swenson', course='Cloud', roll='1261533', marks=70, email='Dustin Feagins_Nicole Harwood@PF.com'),
 Row(age=28, gender='Male', name='Paris Hutton', course='MVC', roll='1292279', marks=26, email='Paris Hutton_Eda Neathery@DSA.com'),
 Row(age=28, gender='Male', name='Bonita Higuera', course='Cloud', roll='1312294', marks=94, email='Eda Neathery_Priscila Tavernier@PF.com'),
 Row(age=29, gender='Male', name='Jalisa Swenson', course='PF', roll='1332072', marks=88, email='Billi Clore_Kizzy Brenner@Cloud.com'),
 Row(age=28, gender='Male', name='Clementina Menke', course='OOP', roll='1341574', marks=46, email='Elenore Choy_Mickey Cortright@DB.com'),
 Row(age=28, gender='Male', name='Gonzalo Ferebee', course='PF', roll='1352348', marks=95, email='Neda Briski_Somer Stoecker@DB.com'),
 Row(age=28, gender='Male', name='Lawanda Wohlwend', course='PF', roll='1372552', marks=88, email='Hubert Oliveras_Tijuana Kropf@DSA.com'),
 Row(age=28, gender='Male', name='Abram Nagao', course='DSA', roll='1382959', marks=66, email='Michelle Ruggiero_Kena Wild@OOP.com'),
 Row(age=28, gender='Male', name='Bonita Higuera', course='Cloud', roll='1401526', marks=24, email='Jc Andrepont_Cheri Kenney@Cloud.com'),
 Row(age=29, gender='Male', name='Niki Klimek', course='MVC', roll='1472917', marks=36, email='Sebrina Maresca_Sheryll Towler@MVC.com'),
 Row(age=28, gender='Male', name='Jc Andrepont', course='DSA', roll='1492828', marks=78, email='Celeste Lollis_Kizzy Brenner@MVC.com'),
 Row(age=28, gender='Male', name='Hubert Oliveras', course='PF', roll='1521724', marks=91, email='Eda Neathery_Jeannetta Golden@MVC.com'),
 Row(age=28, gender='Male', name='Paris Hutton', course='MVC', roll='1602777', marks=53, email='Sheryll Towler_Loris Crossett@DSA.com'),
 Row(age=28, gender='Male', name='Marylee Capasso', course='DB', roll='1611411', marks=96, email='Annika Hoffman_Loris Crossett@PF.com'),
 Row(age=28, gender='Male', name='Anna Santos', course='OOP', roll='1621905', marks=24, email='Elenore Choy_Santa Kerfien@DB.com'),
 Row(age=28, gender='Male', name='Neda Briski', course='DSA', roll='1632185', marks=93, email='Clementina Menke_Toshiko Hillyard@Cloud.com'),
 Row(age=29, gender='Male', name='Alberta Freund', course='DB', roll='1671638', marks=98, email='Clementina Menke_Jalisa Swenson@Cloud.com'),
 Row(age=28, gender='Male', name='Celeste Lollis', course='DB', roll='1692106', marks=36, email='Neda Briski_Abram Nagao@MVC.com'),
 Row(age=29, gender='Male', name='Nicole Harwood', course='MVC', roll='1761454', marks=34, email='Taryn Brownlee_Billi Clore@DSA.com'),
 Row(age=29, gender='Male', name='Claude Panos', course='DSA', roll='1771605', marks=50, email='Claude Panos_Tamera Blakley@OOP.com'),
 Row(age=29, gender='Male', name='Dustin Feagins', course='DB', roll='1782045', marks=81, email='Cordie Harnois_Toshiko Hillyard@OOP.com'),
 Row(age=29, gender='Male', name='Toshiko Hillyard', course='DSA', roll='1791364', marks=50, email='Jc Andrepont_Nicole Harwood@MVC.com'),
 Row(age=28, gender='Male', name='Alberta Freund', course='Cloud', roll='1802934', marks=24, email='Maybell Duguay_Paris Hutton@PF.com'),
 Row(age=29, gender='Male', name='Latia Vanhoose', course='Cloud', roll='1832268', marks=60, email='Marylee Capasso_Santa Kerfien@MVC.com'),
 Row(age=29, gender='Male', name='Alberta Freund', course='OOP', roll='1841931', marks=37, email='Jenna Montague_Taryn Brownlee@Cloud.com'),
 Row(age=29, gender='Male', name='Celeste Lollis', course='PF', roll='1861656', marks=67, email='Niki Klimek_Lawanda Wohlwend@DB.com'),
 Row(age=29, gender='Male', name='Tijuana Kropf', course='DB', roll='1882795', marks=92, email='Hubert Oliveras_Elenore Choy@Cloud.com'),
 Row(age=28, gender='Male', name='Somer Stoecker', course='Cloud', roll='1891261', marks=30, email='Taryn Brownlee_Sheryll Towler@PF.com'),
 Row(age=28, gender='Male', name='Ernest Rossbach', course='DB', roll='1901492', marks=54, email='Latia Vanhoose_Jc Andrepont@MVC.com'),
 Row(age=29, gender='Male', name='Sebrina Maresca', course='PF', roll='1932455', marks=23, email='Tijuana Kropf_Naoma Fritts@Cloud.com'),
 Row(age=29, gender='Male', name='Marylee Capasso', course='DSA', roll='1942185', marks=37, email='Tijuana Kropf_Latia Vanhoose@DSA.com'),
 Row(age=29, gender='Male', name='Jeannetta Golden', course='Cloud', roll='1952763', marks=67, email='Jenna Montague_Jeannetta Golden@OOP.com'),
 Row(age=29, gender='Male', name='Niki Klimek', course='MVC', roll='1962371', marks=78, email='Marylee Capasso_Mickey Cortright@PF.com'),
 Row(age=29, gender='Male', name='Tamera Blakley', course='OOP', roll='1981124', marks=46, email='Taryn Brownlee_Eda Neathery@DB.com'),
 Row(age=28, gender='Male', name='Santa Kerfien', course='MVC', roll='1992202', marks=23, email='Annika Hoffman_Tamera Blakley@OOP.com'),
 Row(age=29, gender='Male', name='Somer Stoecker', course='OOP', roll='2011301', marks=47, email='Somer Stoecker_Anna Santos@MVC.com'),
 Row(age=28, gender='Male', name='Billi Clore', course='PF', roll='2022282', marks=77, email='Anna Santos_Claude Panos@Cloud.com'),
 Row(age=28, gender='Male', name='Kena Wild', course='DB', roll='2031530', marks=93, email='Jc Andrepont_Jc Andrepont@PF.com'),
 Row(age=28, gender='Male', name='Marylee Capasso', course='DSA', roll='2081560', marks=20, email='Sheryll Towler_Donna Yerby@Cloud.com'),
 Row(age=28, gender='Male', name='Neda Briski', course='Cloud', roll='2092176', marks=81, email='Celeste Lollis_Maybell Duguay@PF.com'),
 Row(age=29, gender='Male', name='Donna Yerby', course='DSA', roll='2102495', marks=97, email='Paris Hutton_Celeste Lollis@PF.com'),
 Row(age=29, gender='Male', name='Judie Chipps', course='DB', roll='2112234', marks=94, email='Dustin Feagins_Tamera Blakley@PF.com'),
 Row(age=29, gender='Male', name='Jeannetta Golden', course='MVC', roll='2132781', marks=93, email='Kizzy Brenner_Cheri Kenney@MVC.com'),
 Row(age=29, gender='Male', name='Naoma Fritts', course='PF', roll='2141246', marks=91, email='Mitzi Seldon_Cordie Harnois@Cloud.com'),
 Row(age=29, gender='Male', name='Somer Stoecker', course='MVC', roll='2151024', marks=36, email='Loris Crossett_Tamera Blakley@DB.com'),
 Row(age=28, gender='Male', name='Toshiko Hillyard', course='PF', roll='2162776', marks=54, email='Jenna Montague_Niki Klimek@MVC.com'),
 Row(age=28, gender='Male', name='Jeannetta Golden', course='DB', roll='2171387', marks=76, email='Cheri Kenney_Billi Clore@DB.com'),
 Row(age=29, gender='Male', name='Mitzi Seldon', course='Cloud', roll='2202649', marks=43, email='Santa Kerfien_Loris Crossett@Cloud.com'),
 Row(age=28, gender='Male', name='Jalisa Swenson', course='DSA', roll='2222704', marks=91, email='Judie Chipps_Jalisa Swenson@Cloud.com'),
 Row(age=28, gender='Male', name='Priscila Tavernier', course='OOP', roll='2232863', marks=60, email='Bonita Higuera_Lawanda Wohlwend@MVC.com'),
 Row(age=29, gender='Male', name='Margene Moores', course='Cloud', roll='2241434', marks=71, email='Mitzi Seldon_Michelle Ruggiero@Cloud.com'),
 Row(age=29, gender='Male', name='Annika Hoffman', course='PF', roll='2301940', marks=81, email='Jenna Montague_Sheryll Towler@Cloud.com'),
 Row(age=28, gender='Male', name='Kizzy Brenner', course='DB', roll='2322537', marks=56, email='Jenna Montague_Latia Vanhoose@MVC.com'),
 Row(age=29, gender='Male', name='Michelle Ruggiero', course='Cloud', roll='2332207', marks=72, email='Gonzalo Ferebee_Melani Engberg@OOP.com'),
 Row(age=29, gender='Male', name='Alberta Freund', course='DSA', roll='2341989', marks=68, email='Jeannetta Golden_Priscila Tavernier@PF.com'),
 Row(age=29, gender='Male', name='Mickey Cortright', course='OOP', roll='2361202', marks=59, email='Kizzy Brenner_Eda Neathery@MVC.com'),
 Row(age=29, gender='Male', name='Latia Vanhoose', course='OOP', roll='2372748', marks=94, email='Latia Vanhoose_Latia Vanhoose@OOP.com'),
 Row(age=29, gender='Male', name='Naoma Fritts', course='OOP', roll='2382829', marks=37, email='Ernest Rossbach_Celeste Lollis@PF.com'),
 Row(age=28, gender='Male', name='Melani Engberg', course='MVC', roll='2412019', marks=54, email='Latia Vanhoose_Melani Engberg@DSA.com'),
 Row(age=28, gender='Male', name='Sebrina Maresca', course='Cloud', roll='2452108', marks=41, email='Billi Clore_Loris Crossett@DSA.com'),
 Row(age=28, gender='Male', name='Judie Chipps', course='DB', roll='2461986', marks=53, email='Niki Klimek_Judie Chipps@MVC.com'),
 Row(age=29, gender='Male', name='Jenna Montague', course='DSA', roll='2472773', marks=81, email='Margene Moores_Bonita Higuera@DSA.com'),
 Row(age=29, gender='Male', name='Cheri Kenney', course='Cloud', roll='2491705', marks=64, email='Toshiko Hillyard_Mickey Cortright@PF.com'),
 Row(age=28, gender='Male', name='Priscila Tavernier', course='Cloud', roll='2552194', marks=42, email='Jeannetta Golden_Abram Nagao@PF.com'),
 Row(age=28, gender='Male', name='Claude Panos', course='OOP', roll='2562357', marks=50, email='Naoma Fritts_Anna Santos@Cloud.com'),
 Row(age=28, gender='Male', name='Gonzalo Ferebee', course='MVC', roll='2572197', marks=43, email='Marylee Capasso_Jc Andrepont@DB.com'),
 Row(age=29, gender='Male', name='Nicole Harwood', course='Cloud', roll='2581369', marks=26, email='Paris Hutton_Alberta Freund@MVC.com'),
 Row(age=28, gender='Male', name='Paris Hutton', course='OOP', roll='2592369', marks=60, email='Taryn Brownlee_Sheryll Towler@OOP.com'),
 Row(age=28, gender='Male', name='Sheryll Towler', course='DSA', roll='2612360', marks=27, email='Celeste Lollis_Paris Hutton@OOP.com'),
 Row(age=28, gender='Male', name='Mitzi Seldon', course='DB', roll='2622118', marks=55, email='Mickey Cortright_Mitzi Seldon@MVC.com'),
 Row(age=28, gender='Male', name='Billi Clore', course='PF', roll='2642909', marks=58, email='Loris Crossett_Sebrina Maresca@OOP.com'),
 Row(age=28, gender='Male', name='Abram Nagao', course='Cloud', roll='2652463', marks=21, email='Eda Neathery_Annika Hoffman@Cloud.com'),
 Row(age=29, gender='Male', name='Tamera Blakley', course='DSA', roll='2661934', marks=23, email='Alberta Freund_Tijuana Kropf@Cloud.com'),
 Row(age=28, gender='Male', name='Mitzi Seldon', course='PF', roll='2701239', marks=76, email='Alberta Freund_Cordie Harnois@Cloud.com'),
 Row(age=29, gender='Male', name='Sebrina Maresca', course='PF', roll='2712040', marks=23, email='Jeannetta Golden_Judie Chipps@DB.com'),
 Row(age=29, gender='Male', name='Somer Stoecker', course='PF', roll='2721652', marks=36, email='Tijuana Kropf_Michelle Ruggiero@Cloud.com'),
 Row(age=28, gender='Male', name='Santa Kerfien', course='DB', roll='2732421', marks=79, email='Claude Panos_Alberta Freund@DB.com'),
 Row(age=28, gender='Male', name='Clementina Menke', course='DSA', roll='2772189', marks=98, email='Donna Yerby_Judie Chipps@PF.com'),
 Row(age=29, gender='Male', name='Tijuana Kropf', course='Cloud', roll='2781801', marks=68, email='Alberta Freund_Cordie Harnois@Cloud.com'),
 Row(age=29, gender='Male', name='Leontine Phillips', course='PF', roll='2832158', marks=26, email='Margene Moores_Claude Panos@MVC.com'),
 Row(age=29, gender='Male', name='Abram Nagao', course='DB', roll='2841061', marks=25, email='Leontine Phillips_Toshiko Hillyard@Cloud.com'),
 Row(age=28, gender='Male', name='Loris Crossett', course='OOP', roll='2852490', marks=25, email='Loris Crossett_Donna Yerby@DSA.com'),
 Row(age=28, gender='Male', name='Michelle Ruggiero', course='DB', roll='2891164', marks=60, email='Gonzalo Ferebee_Priscila Tavernier@DSA.com'),
 Row(age=29, gender='Male', name='Niki Klimek', course='DB', roll='2912538', marks=67, email='Jc Andrepont_Mitzi Seldon@DSA.com'),
 Row(age=28, gender='Male', name='Gonzalo Ferebee', course='Cloud', roll='2922041', marks=38, email='Clementina Menke_Taryn Brownlee@OOP.com'),
 Row(age=29, gender='Male', name='Melani Engberg', course='DB', roll='2941257', marks=98, email='Claude Panos_Kena Wild@DB.com'),

## SparkSQL

In [216]:
df.createOrReplaceTempView("Student")

In [225]:
spark.sql(
    """
    select 
    course, 
    gender, 
    count(*), 
    sum(marks) as total_marks
    from Student group by course, gender
    """
).show()

+------+------+--------+-----------+
|course|gender|count(1)|total_marks|
+------+------+--------+-----------+
|   OOP|  Male|      70|       4234|
|    DB|  Male|      82|       5073|
| Cloud|Female|     106|       6316|
|   MVC|  Male|      86|       5241|
|   DSA|Female|      98|       6124|
|    PF|  Male|      97|       5960|
|   MVC|Female|      71|       4344|
| Cloud|  Male|      86|       5127|
|    PF|Female|      69|       3973|
|   DSA|  Male|      78|       4826|
|    DB|Female|      75|       4197|
|   OOP|Female|      82|       4682|
+------+------+--------+-----------+

In [233]:
df.write.mode("overwrite").options(headers=True).csv("../data/output/students_out")

In [227]:
df.rdd.getNumPartitions()

1

#Â Project

In [279]:
df = spark.read.options(header=True, inferSchema=True).csv("../data/OfficeDataProject.csv")
df.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [282]:
df.count()

1000

In [283]:
df.select('department').distinct().count()

6

In [284]:
df.select('department').distinct().show()

+----------+
|department|
+----------+
|     Sales|
|        HR|
|   Finance|
|Purchasing|
| Marketing|
|  Accounts|
+----------+

In [285]:
df.groupby('department').agg(
    count("*").alias("total_employees")
).show()
df.groupby('state').agg(
    count("*").alias("total_employees")
).show()
df.groupby('department', 'state').agg(
    count("*").alias("total_employees")
).sort('department').show()

df.groupby('department').agg(
    min("salary").alias("min_salary"),
    max("salary").alias("max_salary"),
).sort(col('min_salary').asc()).show()

+----------+---------------+
|department|total_employees|
+----------+---------------+
|     Sales|            169|
|        HR|            171|
|   Finance|            162|
|Purchasing|            166|
| Marketing|            170|
|  Accounts|            162|
+----------+---------------+

+-----+---------------+
|state|total_employees|
+-----+---------------+
|   LA|            205|
|   CA|            205|
|   WA|            208|
|   NY|            173|
|   AK|            209|
+-----+---------------+

+----------+-----+---------------+
|department|state|total_employees|
+----------+-----+---------------+
|  Accounts|   CA|             35|
|  Accounts|   AK|             37|
|  Accounts|   NY|             34|
|  Accounts|   WA|             27|
|  Accounts|   LA|             29|
|   Finance|   LA|             29|
|   Finance|   NY|             31|
|   Finance|   AK|             37|
|   Finance|   WA|             30|
|   Finance|   CA|             35|
|        HR|   WA|             47|
|        HR|   LA|             41|
|        HR|   NY|             30|
|        HR|   CA|             28|
|        HR|   AK|             25|
| Marketing|   AK|             42|
| Marketing|   WA|             39|
| Marketing|   NY|             30|
| Marketing|   CA|             33|
| Marketing|   LA|             26|
+----------+-----+---------------+
only showing top 20 rows

+----------+----------+----------+
|department|min_salary|max_salary|
+----------+----------+----------+
|   Finance|      1006|      9899|
|  Accounts|      1007|      9890|
|        HR|      1013|      9982|
| Marketing|      1031|      9974|
|     Sales|      1103|      9982|
|Purchasing|      1105|      9985|
+----------+----------+----------+

In [286]:
(
    df.groupBy("state")
        .agg(mean("bonus").alias("state_mean_bonus"))
        # .filter((df.department == "Finance") & (df.bonus > col("state_mean_bonus")))
).show()

+-----+------------------+
|state|  state_mean_bonus|
+-----+------------------+
|   LA|1284.9560975609756|
|   CA|1238.4731707317073|
|   WA|1262.0528846153845|
|   NY|1251.3468208092486|
|   AK| 1227.842105263158|
+-----+------------------+

In [287]:
df.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [306]:
mean_ny_bonus.rdd.collect()[0].mean_bonus

1251.3468208092486

In [316]:
mean_ny_bonus = (
    df
    .filter(df.state == "NY")
    .groupby("state")
    .agg(mean(col("bonus")).alias("avg"))
    .select("avg").collect()[0]["avg"]
)
df.filter((df.state == 'NY') & (df.bonus > mean_ny_bonus) & (df.department == "Finance")).show()

+-----------+--------------------+----------+-----+------+---+-----+
|employee_id|       employee_name|department|state|salary|age|bonus|
+-----------+--------------------+----------+-----+------+---+-----+
|       1035|       Vivan Sifford|   Finance|   NY|  1129| 35| 1261|
|       1073|      Herder Gallman|   Finance|   NY|  1988| 31| 1402|
|       1082|          Nena Rocha|   Finance|   NY|  3417| 25| 1647|
|       1087|       Leif Lemaster|   Finance|   NY|  8642| 45| 1782|
|       1100|Ellingsworth Meli...|   Finance|   NY|  7845| 32| 1358|
|       1127|        Escoto Gilma|   Finance|   NY|  3426| 41| 1285|
|       1161|     Georgeanna Laub|   Finance|   NY|  2469| 26| 1679|
|       1175|     Durio Tenenbaum|   Finance|   NY|  2253| 42| 1684|
|       1180|       Juliana Grigg|   Finance|   NY|  8178| 42| 1617|
|       1215|        Tiffani Benz|   Finance|   NY|  1665| 41| 1969|
|       1220|          Nitz Ilana|   Finance|   NY|  2443| 50| 1342|
|       1342|   Phylicia Antonina|   Finance|   NY|  8626| 30| 1857|
|       1414|         Durio Janey|   Finance|   NY|  2992| 46| 1733|
|       1660|       Melissia Jere|   Finance|   NY|  9201| 21| 1533|
|       1737|      Yukiko Kreamer|   Finance|   NY|  7396| 20| 1332|
|       1738|      Nena Kensinger|   Finance|   NY|  8534| 41| 1610|
|       1815|      Antonina Ilana|   Finance|   NY|  2944| 28| 1718|
+-----------+--------------------+----------+-----+------+---+-----+

In [308]:
def get_total_salary(salary, age):
    return salary + 500 if age > 45 else salary


totalSalary = udf(lambda x, y: get_total_salary(x, y), IntegerType())

df.withColumn("total_salary", totalSalary(df.salary, df.age)).show()

+-----------+-------------------+----------+-----+------+---+-----+------------+
|employee_id|      employee_name|department|state|salary|age|bonus|total_salary|
+-----------+-------------------+----------+-----+------+---+-----+------------+
|       1000|          Nitz Leif| Marketing|   CA|  6131| 26|  543|        6131|
|       1001|    Melissia Dedman|   Finance|   AK|  4027| 43| 1290|        4027|
|       1002|  Rudolph Barringer|        HR|   LA|  3122| 43| 1445|        3122|
|       1003|        Tamra Amber|  Accounts|   AK|  5717| 47| 1291|        6217|
|       1004|        Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|        5685|
|       1005|      Zollner Karie|  Accounts|   CA|  2843| 27| 1078|        2843|
|       1006|Kaczorowski Zollner|     Sales|   CA|  7201| 21| 1834|        7201|
|       1007|      Nakano Locust| Marketing|   LA|  3444| 23| 1823|        3444|
|       1008|  Recalde Kensinger|  Accounts|   LA|  3704| 48| 1330|        4204|
|       1009|        Imai Hallie|  Accounts|   AK|  5061| 38| 1557|        5061|
|       1010|    Debroah Gallman|  Accounts|   NY|  9308| 35|  817|        9308|
|       1011|   Barringer Escoto|Purchasing|   WA|  1685| 49| 1706|        2185|
|       1012|      Soules Coogan|  Accounts|   AK|  8330| 43| 1914|        8330|
|       1013|      Luisa Suzanne|  Accounts|   CA|  1151| 37| 1095|        1151|
|       1014|      Marvis Cobian|Purchasing|   NY|  5061| 41| 1765|        5061|
|       1015|   Cobian Kensinger|     Sales|   LA|  1983| 21|  632|        1983|
|       1016|      Gilma Margret| Marketing|   CA|  2919| 45| 1762|        2919|
|       1017| Ellingsworth Ilana|  Accounts|   WA|  9614| 26| 1964|        9614|
|       1018| Vankirk Jacquelyne|Purchasing|   NY|  8636| 47| 1192|        9136|
|       1019|    Zollner Juliana|        HR|   NY|  9739| 30| 1119|        9739|
+-----------+-------------------+----------+-----+------+---+-----+------------+
only showing top 20 rows

In [309]:
df.filter(df.age > 45).write.mode("overwrite").options(headers=True).csv("../data/output/office_out")